<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("partials/head")%>

</head>
<body>


    <main>    
        <%- include("partials/header") %>
        <%- include("partials/navigation") %>
        <h1>Welcome to CSE Motors!</h1>

        <div class="hero">
            <img src="/images/vehicles/delorean.jpg" alt="delorean image">
            <div class="hero-label">
                <h2>DMC Delorean</h2>
                <p>3 Cup holders<br>
                Superman doors<br>
                Fuzzy dice!</p>
                <button>Own Today</button>
            </div>
        </div>
        <div class="down-double-part">
            <div class="reviews">
                <h1>DCM Delorean Reviews</h1>
                <ul>
                    <li>"So fast it's almost in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feelin McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80'z livin and I love it" (5/5)</li>
                </ul>
            </div>

            <div class="upgrades">
                <section><img src="/images/upgrades/flux-cap.png" alt="flux capacitor image"></section>
                <section><img src="/images/upgrades/flame.jpg" alt="flame image"></section>
                <section><img src="/images/upgrades/bumper_sticker.jpg" alt="bumper image"></section>
                <section><img src="/images/upgrades/hub-cap.jpg" alt="hub cap image"></section>
            </div>
        </div>


        <%- include("partials/footer")  %>
    </main>
    
</body>
</html>