 

        <h1 class="firsth1">Welcome to CSE Motors!</h1>

        <%- messages() %>

        <div class="hero">
            <img src="/images/vehicles/delorean.jpg" alt="delorean image">
            <div class="hero-label">
                <h2>DMC Delorean</h2>
                <p>3 Cup holders<br>
                Superman doors<br>
                Fuzzy dice!</p>
                <button>Own Today</button>
            </div>
        </div>
        <div class="down-double-part">
            <h1 class="reviewsh1">DCM Delorean Reviews</h1>
            <div class="reviews">
                
                <ul>
                    <li>"So fast it's almost in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feelin McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80'z livin and I love it" (5/5)</li>
                </ul>
            </div>
            
            <h1 class="upgradesh1">Delorean Upgrates</h1>
            <div class="upgrades">
                <section><img src="/images/upgrades/flux-cap.png" alt="flux capacitor image"><p>Flux Capacitor</p></section>
                <section><img src="/images/upgrades/flame.jpg" alt="flame image"><p>Flame Decals</p></section>
                <section><img src="/images/upgrades/bumper_sticker.jpg" alt="bumper image"><p>Bumper Stickers</p></section>
                <section><img src="/images/upgrades/hub-cap.jpg" alt="hub cap image"><p>Hub Caps</p></section>
            </div>
        </div>

