<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("partials/head")%>

</head>
<body>


    <main>    
        <%- include("partials/header") %>
        <%- include("partials/navigation") %>
        <h1>Welcome to CSE Motors!</h1>

        <div class="hero">
            <picture>
                <img src="/images/vehicles/delorean.jpg" alt="delorean image">
            </picture>
        </div>



        <%- include("partials/footer")  %>
    </main>
    
</body>
</html>