/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  max-width: 100%;
  margin: 0 auto;
}

header{
  height: 70px;
}

header span a{
  font-size: 2em;
  font-weight: 800;
  text-decoration: none;
  color: black;
}
header div a{
  font-size: 1em;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 1rem;
  right: .5rem;
}



nav ul{
  list-style-type: none;
  background-color: rgb(8, 8, 77);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

nav a{
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  text-align: center;
}

h1{
  font-size: 1.3rem;
  font-weight: bold;
}

.hero {
  max-width: 100%;
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

.hero img{
  width: 85%;
  height: auto;
  z-index: -1;
}

.hero-label{
  text-align: left;
  position: relative;
}



.upgrades{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.upgrades section{
  background-color: rgba(47, 125, 241, 0.904);
  width: 70%;
  margin: 0 auto;
}

.upgrades img{
  display: block;
  margin: 0 auto;
}
